@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.player {
  display: flex;
  max-width: 700px;
  width: 100%;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "";  
  display: block; 
  background-image: url("../assets/svg/play.svg");
  position: absolute;
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
  left: 0;
  top: 5px;
}

.item-active {
  color: #00bcd4;
  text-shadow: 1px 1px 2px rgb(47 0 255), 0 0 1em #36929f88, 0 0 0.2em #36929f88;
}

.item-active::before {
  background-image: url("../assets/svg/pause.svg");
}

.item-active-partial {
  color: #00bcd4;
  text-shadow: 1px 1px 2px rgb(47 0 255), 0 0 1em #36929f88, 0 0 0.2em #36929f88;
}

.item-active-partial::before {
  background-image: url("../assets/svg/play.svg");
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.advanced-player {
 width: 50%;
}

.timeline {
  background: white;
  height: 7px;
  width: 100%;
  position: relative;
  cursor: pointer;
  box-shadow: 2px 2px 10px 2px #36929f88;
  border-radius: 2px;
 transition: width 0.3s linear;
  opacity: .8;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  background: #0f1c66;
  width: 0%;
  height: 100%;
  cursor: pointer;
  border-radius: 2px;
  pointer-events: none;
}

.current-audio {
  min-height: 33px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  text-shadow: 1px 1px 2px rgb(47, 0, 255), 0 0 1em #36929f88, 0 0 0.2em #36929f88;
}

.time-audio {
 margin-top: 10px;
 padding: 0 3px;
 display: flex;
 justify-content: space-between;
}

.volume-container {
      margin-top: 10px;
      cursor: pointer;
      position: relative;
      z-index: 2;
    }

.volume-button {
      height: 26px;
      width: 30px;
      display: flex;
      align-items: center;
    }

.volume {
      transform: scale(0.8);
    }

 .volume-slider {
      position: absolute;
      left: 53px;
      top: 10px;
      z-index: -1;
      width: 0;
      height: 7px;
      background: white;
      transition: 0.25s;
      border-radius: 2px;
      opacity: .8;
    }

   .volume-percentage {
      background: #0f1c66;
      box-shadow: 2px 2px 10px 2px #36929f88;
      height: 100%;
      width: 50%;
    }

  .volume-container:hover .volume-slider {
      right: -123px;
      width: 120px;
    }

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;  
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  width: 100%;
  min-height: 160px;  
  padding: 20px;
}

.fotter-button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.blackout {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 6;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
}

.blackout-active {
  opacity: 1;
  visibility: visible;
  cursor: pointer;
}

.setting {
  opacity: .8;
  cursor: pointer;
  transition: .3s;
  background-image: url(../assets/svg/settings.svg);
  filter: invert(100%);
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  z-index: 10;
}

.setting:hover {
  opacity: 1;
}

.setting-active {
  opacity: 1;
  transform: rotate(45deg);
}

.setting-menu {
position: fixed;
bottom: 85px;
left: 20px;
padding: 10px;
z-index: 10;
background-color: #ffffffd4;
border-radius: 20px;
transition: all .3s;
width: 170px;
height: 200px;
transform: translateX(-120%);
border: 1px solid #0f1c66;
}

.setting-menu-active {
  transform: translateX(0%);
}

.title-setting {
  color:#0f1c66;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 10px;
}

.choose-language {
  color:#2e9e32;
  margin-bottom: 5px;
}

.lang {
  font-size: 14px;
  color: #0f1c66;
}

.desc-language {
display: flex;
justify-content: space-between;
align-items: center;
}

.choice-language {
  width: 80px;
  height: 25px;
  padding: 2px;
  border-radius: 20px;
  background-color: #0f1c66;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 5px;
}

.item-language {
  border-radius: 20px;
  cursor: pointer;
  width: 50%;
  height: 100%;
  transition: all .1s linear;
}
.active-language {
  background-color: #2e9e32;
}








.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}